@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kyiv";
  src:
    url("/font/KyivTypeSerif-Light.woff2") format("woff2"),
    url("KyivTypeSerif-Light.woff") format("woff");

  font-weight: 300;
}

body {
  background-color: rgb(244, 239, 233);
  color: rgb(50, 74, 117);

  font-family: "Montserrat";
}

input:focus {
  outline: none;
}

.hotelTravel article:nth-child(even) {
  /* Ваши стили для четных элементов */
  display: grid;
  grid-template-columns: 1fr 485px;
}

.hotelTravel article:nth-child(even) .hotelSwiper {
  order: 3;
}
.hotelTravel article:nth-child(even) .hotelContent {
  order: 1;
}

.hotelTravel article:nth-child(odd) {
  /* Ваши стили для нечетных элементов */
  display: grid;
  grid-template-columns: 485px 1fr;
}
