@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .widthBtn {
    @apply w-[calc(100%_+_110px)];
  }
}

@font-face {
  font-family: "Kyiv";
  src:
    url("/font/KyivTypeSerif-Light.woff2") format("woff2"),
    url("KyivTypeSerif-Light.woff") format("woff");

  font-weight: 300;
}

body {
  background-color: rgb(244, 239, 233);
  color: rgb(50, 74, 117);

  font-family: "Montserrat";
}

input:focus,
textarea:focus {
  outline: none;
}

.swiper-button-disabled {
  opacity: 0.2;
}

@media (min-width: 768px) {
  .hotelTravel article:nth-child(even) .hotelSwiper {
    order: 3;
  }
  .hotelTravel article:nth-child(even) .hotelContent {
    order: 1;
  }
}

/* animation logos */
/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 7));
  }
} */

/* .test {
  animation: scroll 10s linear infinite;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* transform: translateX(calc(-350px * 7)); */
    transform: translateX(calc(-100% - 410px)); /* Конечная позиция */
  }
}

.test {
  animation: scroll 10s linear infinite;
}
